<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="UTF-8">
<meta name ="viewport" content="width=divice-width, initial-escale=1,maximun-scale=1, user-scalable=no">

<title>Ejemplo Bootstrap</title>
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		
	
	
</head>

	<img class="img-fluid rounded mx-auto"  src="../img/logofi.jpg" alt="" width="" height="">
	<h1  class= "display-6"><em>En cada presente, una oportunidad</em></h1>
	<hr>
<body>
	
	<h3 class="text-center fw-bold">Programacion Visual 2024</h3 >
	<!-- <img src="../img/logoUnju.png" alt="" width="70" height="30"> -->
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid card">
			<a class="navbar-brand" href="https://virtual.unju.edu.ar"><img src="../img/logoUnju.png" alt="" width="70" height="30"></a>
			<button class="navbar-toggler" type="button" data-bs-toggler="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse card-body" id="navbarSupportedContent" >
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="https://www.unju.edu.ar/oferta2024/unidades.html" target="_blank">Ofertas Academicas</a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="botton"
							data-bs-toggle="dropdown" aria-expanded="false">Facultades</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="https://www.fca.unju.edu.ar/" target="_blanck">Agrarias</a></li>
								<li><a class="dropdown-item" href="https://www.fce.unju.edu.ar/" target="_blanck">Economia</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="https://escmi.unju.edu.ar/" target="_blanck">Escuela de Minas</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link disabled">Incribirse</a>
						</li>
				</ul>
				<ul class="navbar-nav ml-auto justify-contend-end">
					<li class="nav-item"><a class="nav-link" href="https://noticias.unju.edu.ar/" target="_blank">Noticias</a></li>
				</ul>
			</div>
		</div>
	
	</nav>
	<hr>
	<div class="container bg-ligth">
		<p>La Universidad nace el 25 de mayo de 1972 como universidad provincial y al año siguiente se transforma en Universidad
		 Nacional. Comienza a funcionar sobre la base de cuatro carreras: Ingeniería Agronómica, 
		 Ingeniería de Minas, Ingeniería Metalúrgica e 
		 Ingeniería Química. Su propósito fue apuntalar las actividades de explotación e industrialización de 
		 los recursos naturales de Jujuy. Las tres últimas carreras mencionadas pasan a constituir la actual 
		 Facultad de Ingeniería que, con el transcurso de los años, sumó a ellas un número importante de otras carreras.

		Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de 
		Ingeniería, tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la 
		demanda social creciente de formación de recursos humanos que contribuyan al desarrollo científico, 
		tecnológico y cultural.</p>
	</div>
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>